.avatar {
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-1 {
  width: 226px;
  height: 226px;
  left: 553px;
  top: 801px;
}

.avatar-2 {
  width: 226px;
  height: 227px;
  left: 677px;
  top: 1027px;
}

.avatar-3 {
  width: 226px;
  height: 226px;
  left: 38px;
  top: 996px;
}

.avatar-4 {
  width: 225px;
  height: 227px;
  left: 977px;
  top: 856px;
}

.avatar-5 {
  width: 226px;
  height: 226px;
  left: 1144px;
  top: 940px;
  border: 8px solid white;
}

.avatar-6 {
  width: 226px;
  height: 226px;
  left: 1414px;
  top: 801px;
}

.avatar-7 {
  width: 226px;
  height: 227px;
  left: 1656px;
  top: 960px;
}

.avatar-8 {
  width: 226px;
  height: 226px;
  left: 199px;
  top: 940px;
  border: 8px solid white;
}